@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #475569, #1E293B);
    color: #fff;
    font-family: 'Play', sans-serif;
}

.navbar {
    padding: 2rem;
    background-color: #1E293B;
    display: flex;
    justify-content: space-between;
}

.navbar div {
    margin-top: 1rem;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
}

.current{
    font-weight: bold;
    background-color: orange;
    border-radius: 0.3rem;
}

.navbar h1{
    color: orange;
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
}

.container {
    width: 50%;
    margin: auto;
}

.container h1 {
    padding-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
}

#input-label {
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.input-sides {
    display: block;
    border: none;
    width: 50%;
    border-radius: 0.3rem;
    margin: auto;
    padding: 0.5rem;
}

#btn {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Play', sans-serif;
    margin: auto;
    margin-top: 1rem;
    color:#1E293B;
    background-color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#btn:hover {
    color:#fff;
    background-color: #1E293B;
}

#output {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}

footer {
    margin-top: 5rem;
    margin-bottom: 0; 
    width: 100%;
} 

.heading-footer {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;    
}

ul li {
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: white;
}